<footer class="bg-primary-custom text-center text-lg-start col-md-4">
    <div class="footer-content">
        <div class="footer-section">
            <h1>Quick Summary</h1>
            <p>
                Eldema Letap School is a community-based school committed to
                providing quality education, empowering students, and fostering a
                nurturing learning environment.
            </p>
        </div>
        <div class="footer-section">
            <h1>Quick Links</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/academics/">Academics</a></li>
                <li><a href="/about-us/">About Us</a></li>
                <li><a href="/gallery/">Gallery</a></li>
                <li><a href="/volunteering/">Volunteer</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h1>Reach Us</h1>
            <li>PP26+X9 Nairobi</li>
            <li>Phone: <a href="tel:+254722395465">+254 722 395465</a></li>
            <li>
                Email:
                <a href="mailto:eldemaletapacademy@gmail.com"
                    >eldemaletapacademy@gmail.com</a
                >
            </li>
        </div>
        <div class="footer-section">
            <h1>Follow Us</h1>
            <ul class="socials">
                <li>
                    <a
                        href="https://www.facebook.com/profile.php?id=100071104893902&mibextid=rS40aB7S9Ucbxw6v"
                        ><i class="bi bi-facebook" target="_blank"></i
                    ></a>
                </li>
                <li>
                    <a href="https://wa.me/+254722395465" target="_blank"
                        ><i class="bi bi-whatsapp"></i
                    ></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/"
                        ><i class="bi bi-youtube" target="_blank"></i
                    ></a>
                </li>
                <li>
                    <a href="https://vm.tiktok.com/ZMkGhCmQs/"
                        ><i class="bi bi-tiktok" target="_blank"></i
                    ></a>
                </li>
            </ul>
        </div>
        <div class="footer-section">
            <h1>Get Involved</h1>
            <div class="involve-links">
                <a href="/donate/">Donate</a>
                <a href="/volunteering/index.html#application-form">Volunteer</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="line"></div>
        <p>
            Copyright © 2025 Eldema Letap Academy <br />
            All Right Reserved
        </p>
    </div>
</footer>
