<div class="navbar">
    <div class="container nav-container">
        <input class="checkbox" type="checkbox" name="" id="" />
        <div class="hamburger-lines">
        <span class="bline line1"></span>
        <span class="bline line2"></span>
        <span class="bline line3"></span>
        </div>
        <div class="logo">
        <img src="../assets/images/logo1x.png" alt="" />
        </div>
        <div class="menu-items">
        <li><a href="../">Home</a></li>
        <li><a href="../about-us/">About Us</a></li>
        <li><a href="../gallery/">Gallery</a></li>
        <li><a href="../contact-us/">Contact</a></li>
        </div>
    </div>
</div>